.body{
    color:#212529;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 0px!important;
}
.both{
    clear: both;
}
h1 { text-align:center; padding:50px 0; color:#fff;}
a {
    color: #fff;
    text-decoration: none;
}
ul { list-style: none; }
.b-seaction{
    background-color: #fff;
}

/* StyleSheet For Scroll To Top */
.auto-scroll-to-top {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: -80px;
    border-radius: 100%;
    background-color: #d19a03;
    color: #fff;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 55px;
    -moz-box-shadow: 0 0 5px 0px #888;
    -webkit-box-shadow: 0 0 5px 0px #888;
    box-shadow: 0 0 5px 0px #888;
    transition: 0.3s;
}

.visible {
    right: 30px;
    transition: 0.3s;
}

/* Scroll To Top Animate Icon */
@-webkit-keyframes hvr-icon-pulse-grow {
    to {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  @keyframes hvr-icon-pulse-grow {
    to {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
  .hvr-icon-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-pulse-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-pulse-grow:hover .hvr-icon, .hvr-icon-pulse-grow:focus .hvr-icon, .hvr-icon-pulse-grow:active .hvr-icon {
    -webkit-animation-name: hvr-icon-pulse-grow;
    animation-name: hvr-icon-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

/* StyleSheet For Latest Item Products */
.latest-main{
    background-color: #fff;
}
.post-contain {
    border: 1px solid #efefef;
}
.post-contain {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 15px;
    border: 1px solid #e5e5e5;
    background-color: white;
}
.post-image {
    width: auto;
    min-height: 240px;
    border-bottom: 4px solid #EF5438;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;
    margin-top: -8px;
}
.post-title {
    width: 70%;
    height: auto;
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: #d19a03;
    padding: 8px 15px 8px 20px;
}
/* .post-title p {
    font-family: "Cantata One";
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
} */
.post-title p{
    margin: 0px;
}
.post-title p a {
    color: white;
}
/* .post-title p a, .post-title p {
    font-family: "Cantata One";
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 18px;
} */
.post-content-left {
    float: left;
    padding: 15px 15px 0 15px;
    width: 170px;
    color: #212529;
}
.post-content-left .latest-star {
    margin-top: 45px;
    text-align: center;
    color: #d19a03;
}
.post-date{
    font-weight: bold;
    font-style: normal;
    font-family: "Cantata One";
}
.post-date .day{
    font-size: 42px;
    float: left;
    line-height: 29px;
    margin-left: 7px;
}
.post-date .month-year{
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    margin: 7px 0px 0px 3px;
}
.post-overview .break{
    margin-top: 18px;
}
.post-overview p{
    float: left;
    margin-bottom: 0px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cantata One"
}
.post-overview a{
    color: #212529;
}
.post-content-right {
    float: left;
    width: 65%;
    margin-top: 50px;
    padding-left: 8px;
}
.latest-hover {
    display: none;
    z-index: 1;position: absolute;
    margin-left: 225px;
    margin-top: 90px;
}
.latest-hover i{
    font-size: 65px;
    color: rgba(247, 240, 240, 0.75);
}
.post-image:hover .latest-hover {
    display:block;
    opacity: 1;
    transform: translateY(0px);
}
/* for latest products hover bounInDown */
.slide h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}
.slide:hover h2 {
    opacity: 1;
    transform: translateY(0px);
}



/* Style Sheet For Mobiel Template */
@media only screen and (max-width: 768px) {
    .latest-hover i{
        font-size: 75px;
        color: rgba(247, 240, 240, 0.75);
    }
}